#!/bin/sh
export LAPTOPSCREEN=$(/home/jonas/private/development/scripts/monitors/laptop.sh)
export EXTERNALSCREEN=$(/home/jonas/private/development/scripts/monitors/external.sh)
xmodmap .config/xkb/Xmodmap &
xbindkeys -p&
(sudo modprobe r8169 &&
  sudo ip link set dev enp2s0f1 up)&

sudo sysctl -w abi.vsyscall32=0 &
echo "connect AC:12:2F:8A:9F:78 " | bluetoothctl &


export ANDROID_HOME="/home/jonas/android-sdk"
export PATH=$ANDROID_HOME/emulator:$ANDROID_HOME/tools:$PATH
export PATH="$PATH:/home/jonas/bin/flutter/bin"
export PATH="$PATH:/home/jonas/private/development/flutter/flutter/bin"
export PATH="$PATH:/home/jonas/android-sdk/tools/bin/"
export PATH="$PATH:/home/jonas/bin/node/bin"
export PATH="$PATH:/home/jonas/go/bin"
export PATH="$PATH:/home/jonas/Scripts/"
export PATH="$PATH:/home/jonas/Git-Programs/keg/bin"	
export PATH="$PATH:/home/jonas/neovim/bin/"
export PATH="$PATH:/home/jonas/Scripts/autostartprograms"
export PATH="$PATH":"$HOME/.pub-cache/bin"
export PATH="$PATH":"/home/jonas/.local/share/gem/ruby/3.0.0/bin":"/home/jonas/.local/bin"
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export PATH="$PATH:$GEM_HOME/bin"
export GAMEMODERUNEXEC="env __NV_PRIME_RENDER_OFFLOAD=1 env __GLX_VENDOR_LIBRARY_NAME=nvidia env __VK_LAYER_NV_optimus=NVIDIA_only"

#emacs
export DOOMDIR="/home/jonas/private/dotfiles/doom"
export PATH="$PATH:/home/jonas/.config/emacs.d/doom.emacs.d/bin"

#for intellij
export _JAVA_AWT_WM_NONREPARENTING=1

#for waifu2x
export CUDAToolkit_ROOT=/opt/cuda/
export PATH=$PATH:/opt/cuda/bin

export LD_LIBRARY_PATH=/usr/local/lib

#own programs im to lazy to add to bin
#export PATH="$PATH":"$HOME/Developing/C/kilo/kilo"

export IDEA_JDK="/usr/lib/jvm/jdk-jetbrains"
export JAVA_HOME="/usr/lib/jvm/java-8-openjdk/"


export IDE=intellij-idea-ultimate-edition
export BROWSER=firefox
export EDITOR=emacs
export TerminalEmulator=kitty
export CHROME_EXECUTABLE=/usr/bin/chromium
export LAPTOPSCREEN=$(/home/jonas/private/development/scripts/monitors/laptop.sh)
export EXTERNALSCREEN=$(/home/jonas/private/development/scripts/monitors/external.sh)


export GOOGLE_APPLICATION_CREDENTIALS="/home/jonas/private/documents/arbeit/OplusFON/oplus-fon-346d78c8526e.json"
alias google-chrome=firefox

(while true; do sleep 20m && notify-send "beweg dich"; done)&
